{{ define "title" }}
    About Me
{{ end }}
{{ define "content" }}
    This is an example page to demonstrate template composition with Go.
{{ end }}
{{ define "footer" }}
    This is the footer of the about page.
{{ end }}