{{ define "header"}}
    <header>
        <nav class="container">
            <div>This is the header, rendered on all pages</div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <hr>
        </nav>
    </header>
{{ end }}