<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Web UI Starter for LLM interaction"/>

        <title>{{ template "title" }}</title>
    </head>
    <body>
        {{ template "header" }}
        <main class="container">
            {{ template "content" . }}
        </main>
    </body>
</html>