<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Web UI Starter for LLM interaction"/>

        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

        <title>{{ template "title" }}</title>
    </head>
    <body>
        {{ template "header" }}
        <main class="container">
            {{ template "content" . }}
        </main>
    </body>
</html>